@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  font-family: var(--font-roboto-flex), sans-serif;
}
@theme inline {
  --color-primaryGreen: #2ecc71; /* Verde */
  --color-secondaryGreen: #006b36; /* Verde Mais Escuro */
  --color-secondaryColor: #2c3e50; /* Grafite */
  --color-alertColor: #f1c40f; /* Âmbar */
  --color-alertError: #e74c3c; /* Vermelho */
  --color-alertSucess: #27ae60; /* Verde escuro */
  --color-darkBackground: #1e272e; /* Azul Marinho Escuro */
  --color-lightBackground: #f5f6fa; /* Cinza Claro */
  --color-darkText: #333333; /* Cinza Escuro */
  --color-secondaryBackground: #f3f0e7; /* Bege Claro */
  --color-secondaryText: #e5e5e5; /* Platinum */
  --color-linkBlue: #225991; /* Azul */
  --color-neutralGray: #e7e7e9;
}
